<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /path/to/laravel-project/public
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
